* {
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    

}

.top-nav {
    display: flex;
    color: white;
    background-color: lightgreen;
    height: 5%;
    justify-content: space-between;
    
    text-align: center;

}

.body {
    padding-top: 1%;
    background-color: ghostwhite;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.sec-A {
    background-color: lightgray;
    width: 30%;
    border-radius: 20px;
}
#image{
    border-radius: 50%;
}
.sec-B {
    background-color: skyblue;
    width: 60%;

    border-radius: 20px;
}

.footer {
    display: flex;
    padding-top: 2%;
    /* background-color: black; */
    color: white;
    height: auto;
    justify-content: space-evenly;
}
.list{
    text-decoration: none;
}


button{
    background-color: green;
    border-radius: 10px;
}
image{
    border-radius: 50px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}