* {
    padding-left: 2%;
    padding-right: 2%;
    height: auto;


}

.top-nav {
    display: flex;
    color: white;
    background-color: rgb(6, 76, 103);
    height: 5%;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

#btn-log {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 3%;
    cursor: pointer;
    border-radius: 10%;
}

.body {
    padding-top: 1%;
    background-color: ghostwhite;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.sec-A {
    background-color: rgb(231, 231, 231);
    width: 20%;
    border-radius: 20px;
    border: solid;

}
.sec-A ,h3{
    align-items: center;
}

#image {
    border-radius: 50%;
}

.sec-B {
    background-color: rgb(237, 237, 237);
    width: 60%;
    border: solid;

    border-radius: 20px;
}

.footer {
    display: flex;
    padding-top: 2%;
    color: white;
    height: auto;
    justify-content: space-evenly;
}

.list {
    text-decoration: none;
}
button {
    background-color: orange;
    border: none;
    color: black;

    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

image {
    border-radius: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
    justify-content: space-around;
}
table button {
    background-color: #4CAF50;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 20%;
    font-size: 12px;
}

#table tr:hover {
    background-color: #ddd;
}